*.class
target
*.log
*.dat
/exportlibrary.xmlvalidationremoteclients/data/json/*.json
/exportlibrary.exporterworker/test.json
/exportlibrary.exporterworker/WTSI_Experiment_1.xml
/exportlibrary.exporterworker/phenodcc_raw.properties
/exportlibrary.exporterworker/wtsiInstructions.json
/exportlibrary.exporterworker/WTSI.2014-07-04.experiment.1.xml